<h1>{{title}}</h1>

<!-- Content Section -->
<div class="card">
  <div class="card-block">
    {{#if content}}
      <section>{{content}}</section>
    {{/if}}
  </div>
</div>
<!-- End Content Section -->

<form action="">
  {{{captcha_form}}}
</form>
<!-- List Section -->
{{#if list}}
<ul>
  {{#each list}}
  <b>{{this}}</b>
  <i>{{@index}}</i>  
  {{/each}}
</ul>
{{/if}}
<!-- End List Section -->

{{{captcha_script}}}