<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">    
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        {{yield}}
      </div>
    </div>
  </body>
</html>